body {
    word-break : break-all;
}

h1[id^=mil]{display:none;}

.utterances{display:none; max-width:none !important; margin: 0 !important; padding-left:20rem!important; margin-bottom: 60px !important;}
.utterances-frame{display:block !important; margin: 0 auto !important; width:100% !important; max-width: 740px!important; min-width: unset; position:relative !important; padding: 0 10px; box-sizing:border-box;}
.timeline{padding: 0 34px;}

@media (max-width: 959px){
    .utterances{padding-left:16.4rem !important;}
}

@media (max-width: 719px){
    .utterances{padding:0px 10px !important}
}
